@model TaskManagementSystem.Models.ViewModel.FilterByVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>Select Order</div>
<div>
    <form asp-action="Index" method="post">
        <select asp-for="Filter" asp-items="Html.GetEnumSelectList<TaskManagementSystem.Models.ViewModel.FilterBy>()" class="form-control"></select>
        <select asp-for="Order" asp-items="Html.GetEnumSelectList<TaskManagementSystem.Models.ViewModel.OrderBy>()" class="form-control"></select>

        <input type="submit" value="Change Order" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Project item in Model.Projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="CreateTask" asp-route-projectid="@item.Id">Create Task</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.Tasks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @foreach (var t in item.Tasks)
                    {
                    <td>
                        <ul>
                                @Html.DisplayFor(modelItem => t.Title)
                                @Html.DisplayFor(modelItem => t.RequiredHours)
                        </ul>
                    </td>
                    <td>
                        <a asp-action="UpdateRequiredHours" asp-route-id="@t.Id">Adjust Required Hours</a> |
                        <a asp-action="MarkAsCompleted" asp-route-id="@t.Id">Mark As Completed</a> |
                    </td>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

