@model IEnumerable<TaskManagementSystem.Models.ProjectContributor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Workspace Board</h1>

<div class="mt-4">
    
    @foreach (ProjectContributor pc in Model)
    {
        <div class="bg-light shadow-sm px-4 py-3 rounded-3" style="margin-top:20px">
            <h3 class="mt-4">@pc.Project.Title</h3>
            <hr />
            <br />

            @if (pc.Project.Tasks.Count != 0)
            {
                <table class="table mt-2">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Priority Level
                            </th>
                            <th>
                                Required Hours
                            </th>
                            <th>
                                Completed
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in pc.Project.Tasks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => t.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.RequiredHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.IsCompleted)
                                </td>
                                <td>
                                    <a style="background-color:#f0f2f3;color: #000058; width: 450px; height:12%; border:none;border:solid;border-width:thin;border-color:#000058; border-radius:5px; padding:5px; text-decoration:none;font-weight:400" asp-action="UpdateRequiredHours" asp-route-id="@t.Id">Adjust Hours</a> 
                                    <a style="background-color:#000058;color: #fff; width: 450px; height:14%; border:none;border-radius:5px;padding:5px;text-decoration:none;font-weight:400;" asp-action="MarkAsCompleted"  asp-route-id="@t.Id">Mark Completed</a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />
            }
            else
            {
               <p style="color:red;font-size:16px; margin-top:15px;">No Tasks Assigned</p>
            }
        </div>
    }
</div>

